* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li, ul, ol, a, p, h1, h2, h3, h4, span {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  text-decoration: none;
}

a:visited {
  color: white;
}

.btnEmpresa {
  background-color: rgb(194, 17, 17);
  text-decoration: none;
  padding: 10px;
  width: max-content;
  border: 2px solid black;
  border-radius: 10px;
  align-self: center;
  color: white;
  transition: transform 0.3seg ease-in-out;
}
.btnEmpresa:hover {
  transform: scale(1.2);
  color: white;
}

.etiquetaBtn {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  gap: 5px;
  width: auto;
  justify-content: center;
  align-items: center;
}
.etiquetaBtn .btn-circle {
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid rgb(5, 74, 153);
  width: 20px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  padding: 0;
}
.etiquetaBtn .btn-circle:focus {
  outline: none;
}
.etiquetaBtn .btn-circle:active {
  box-shadow: inset 0 0 10px rgb(194, 17, 17);
}

.btnProducto {
  background-color: red;
  border: 2px solid rgb(194, 17, 17);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: white;
}
@media screen and (min-width: 768px) {
  .btnProducto {
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
  }
}

.dropdown {
  grid-area: drop;
  justify-self: start;
}
.dropdown .btn {
  padding: 0;
  background-color: rgb(5, 74, 153);
}
.dropdown .btn img {
  width: 40px;
  height: 40px;
}
.dropdown-no-caret::after {
  display: none;
}
.dropdown-menu {
  justify-self: end;
  background-color: rgba(0, 0, 0, 0.4);
}
.dropdown-menu li a {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .dropdown {
    visibility: hidden;
  }
}

.headerSocialMenu {
  grid-area: social;
  list-style: none;
  justify-self: end;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  justify-items: center;
  flex-direction: row;
  width: 200px;
}
.headerSocialMenuItem {
  transition: transform 0.2seg ease-in-out;
  display: inline-block;
}
.headerSocialMenuItem .socialIcon {
  width: 25px;
}
.headerSocialMenuItem .socialIcon:hover {
  transform: scale(1.3);
}
@media screen and (min-width: 400px) {
  .headerSocialMenu {
    width: 250px;
  }
  .headerSocialMenuItem .socialIcon {
    width: 35px;
  }
}

.d-flex {
  grid-area: nav;
  visibility: hidden;
}
.d-flex .form-control {
  font-size: 0.7rem;
  color: white;
  background-color: rgba(255, 255, 255, 0);
}
.d-flex .btn {
  font-size: 0.7rem;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 400px) {
  .d-flex {
    visibility: visible;
    max-width: 200px;
  }
}
@media screen and (min-width: 525px) {
  .d-flex {
    justify-self: end;
  }
}
@media screen and (min-width: 768px) {
  .d-flex {
    grid-area: search;
    max-width: 180px;
  }
}
@media screen and (min-width: 900px) {
  .d-flex {
    max-width: 300px;
  }
}

.headerMenuPrincipal {
  visibility: hidden;
  grid-area: nav;
  width: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
}
.headerMenuPrincipalList {
  list-style: none;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
}
.headerMenuPrincipalList a {
  font-size: 0.2rem;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2seg ease-in-out;
}
.headerMenuPrincipalList a:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .headerMenuPrincipalList {
    gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .headerMenuPrincipal {
    visibility: visible;
  }
  .headerMenuPrincipalList li {
    height: 60px;
    width: 80px;
  }
  .headerMenuPrincipalList li a {
    width: 100%;
    align-self: center;
    color: white;
    font-size: 0.8rem;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 900px) {
  .headerMenuPrincipal {
    max-width: 600px;
  }
  .headerMenuPrincipalList {
    justify-content: space-between;
    max-width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .headerMenuPrincipalList {
    justify-content: space-around;
  }
  .headerMenuPrincipalList li {
    width: 100px;
  }
  .headerMenuPrincipalList li a {
    font-size: 1rem;
  }
}

main {
  margin-top: 125px;
  width: 100%;
}

.header {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: rgb(5, 74, 153);
  justify-content: center;
  justify-items: center;
  align-items: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px red;
  grid-template-columns: 90px 1fr repeat(2, 40px);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "logo social social social" "logo nav nav drop";
}
.headerLogoEmpresa {
  grid-area: logo;
  width: 90px;
  height: auto;
}
@media screen and (min-width: 400px) {
  .header {
    grid-template-columns: 80px 1fr repeat(2, 40px);
  }
  .headerLogoEmpresa {
    width: 90px;
  }
}
@media screen and (min-width: 400px) {
  .header {
    grid-template-columns: repeat(2, 1fr) repeat(2, 40px);
  }
}
@media screen and (min-width: 768px) {
  .header {
    grid-template-columns: 100px 20px 1fr 200px;
    grid-template-areas: "logo drop social social" "logo nav nav search";
  }
}
@media screen and (min-width: 900px) {
  .header {
    grid-template-columns: 100px 20px 1fr 300px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    grid-template-columns: 150px 20px 1fr 300px;
  }
  .headerLogoEmpresa {
    justify-self: end;
  }
}

.footer {
  background-color: rgb(5, 74, 153);
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  font-size: 0.7rem;
  text-align: center;
  z-index: 999;
  bottom: 0;
  margin-top: 10px;
  background-color: rgb(5, 74, 153);
  color: white;
  height: 100px;
}
.footer a {
  display: inline;
  font-style: italic;
  text-decoration: underline;
  background-color: rgb(5, 74, 153);
  color: white;
}
@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
    padding: 1em;
    gap: 10px;
    display: grid;
    background-color: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "derechos . reclamos" "derechos . reclamos" "dev dev dev";
  }
  .footerDerecho {
    grid-area: derechos;
  }
  .footerDefensa {
    grid-area: reclamos;
  }
  .footerDesarrollo {
    grid-area: dev;
  }
}

.seccionNosotrosLineaTiempo {
  background-image: url(../../images/fondoGrisTexturado.jpg);
  padding: 10px;
  grid-area: sucesos;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.seccionNosotrosLineaTiempoTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.seccionNosotrosLineaTiempoContainerBtns {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  padding: 20px;
}
.seccionNosotrosLineaTiempoContainerBtns span {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .seccionNosotrosLineaTiempo {
    align-self: stretch;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
  }
  .seccionNosotrosLineaTiempoTitle {
    font-size: 2rem;
  }
  .seccionNosotrosLineaTiempoContainerBtns {
    gap: 40px;
  }
}

.containerDescription {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgb(5, 74, 153);
  gap: 0;
}
.containerDescriptionTitle, .containerDescriptionDesc {
  width: 100%;
  padding: 0.2em;
  text-align: center;
}
.containerDescriptionDesc {
  border-top: 1px solid rgb(5, 74, 153);
  padding: 20px;
  text-align: justify;
  font-family: serif;
  font-style: italic;
  height: 250px;
  display: inline-block;
  line-height: 1.2;
}
@media screen and (min-width: 400px) {
  .containerDescriptionDesc {
    font-size: 1.2rem;
    line-height: 1.3;
  }
}

.modal-body {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  border: solid 1px rgb(194, 17, 17);
  align-items: center;
}
.modal-body span {
  font-weight: bold;
}
.modal-bodyDesc {
  text-align: justify;
  box-shadow: 0 0 10px red;
  line-height: 1.5;
  padding: 10px;
}

.etiquetaProducto {
  border: 1px solid red;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
}
.etiquetaProductoImg {
  width: 100%;
  display: block;
  position: relative;
  transform: translateY(-15%);
  height: 100%;
  transition: transform 0.3s ease-out;
}
.etiquetaProducto:hover .etiquetaProductoImg {
  transform: translateY(-20%);
}
.etiquetaProducto:hover .btnProducto {
  transform: translateY(1%);
}

.seccionProductoBanner {
  background-image: url(../../../images/fondos/fondo-banner.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  color: white;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

.seccionContactoForm {
  grid-area: formulario;
  border: 1px solid rgb(5, 74, 153);
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(194, 17, 17);
}
.seccionContactoFormAsunto {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 80%;
}
.seccionContactoFormAsuntoGenero {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .seccionContactoFormAsuntoGenero {
    flex-direction: row;
  }
}
.seccionContactoFormAsuntoGenero .Genero {
  box-shadow: none;
}
.seccionContactoForm .buttons {
  flex-direction: row;
}
.seccionContactoForm input, .seccionContactoForm textarea {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(5, 74, 153);
  border-radius: 5px;
}
@media screen and (min-width: 525px) {
  .seccionContactoForm {
    width: 475px;
  }
}

.seccionContactoUbicacion {
  width: 100%;
  grid-area: mapa;
  padding: 10px;
}
.seccionContactoUbicacion span {
  font-size: 0.7rem;
}
.seccionContactoUbicacionMap {
  width: 100%;
  height: 300px;
}

.etiquetaNoticias {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  align-self: center;
  align-items: center;
  height: 800px;
}
.etiquetaNoticiasFig Img {
  width: 100%;
}
.etiquetaNoticiasDesc {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 10px;
}
.etiquetaNoticiasDesc h2 {
  color: rgb(194, 17, 17);
}
.etiquetaNoticiasDesc p {
  text-align: justify;
  line-height: 1.2;
}
.etiquetaNoticias .btnEmpresa {
  border: none;
}
@media screen and (min-width: 400px) {
  .etiquetaNoticias {
    max-width: 360px;
  }
}

.seccionContactoVentas {
  background-image: url(../../images/fondos/fondo-parrafo.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
  gap: 10px;
}
.seccionContactoVentas h3 {
  font-size: 2rem;
  text-shadow: 0 0 5px black;
}
.seccionContactoVentasLlamada {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 0 0 5px black;
}

.seccionPrincipal {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0;
  grid-template-rows: 30px repeat(5, auto);
  grid-template-columns: 1fr;
  align-items: start;
  grid-template-areas: "titulo" "portada" "empresa" "certificacion" "calidad" "contacto";
}
.seccionPrincipalTitle {
  grid-area: titulo;
  visibility: hidden;
}
.seccionPrincipalPortada {
  color: white;
  height: 300px;
  background-image: url(../../images/larrauri/JON_7322.JPG);
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
}
.seccionPrincipalPortadaTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}
.seccionPrincipalPortada span {
  font-size: 0.8rem;
}
@media screen and (min-width: 400px) {
  .seccionPrincipalPortada {
    justify-content: end;
  }
}
@media screen and (min-width: 900px) {
  .seccionPrincipalPortada {
    justify-content: center;
    color: black;
    font-size: 1.5rem;
    height: 60vh;
  }
  .seccionPrincipalPortada span {
    font-size: 1rem;
    font-weight: bold;
  }
}
.seccionPrincipalEmpresa {
  grid-area: empresa;
  background-image: url(../../images/fondoGrisTexturado.jpg);
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
}
.seccionPrincipalEmpresa p {
  font-family: serif;
  text-align: justify;
  line-height: 1.5;
}
@media screen and (min-width: 900px) {
  .seccionPrincipalEmpresa {
    height: 400px;
    align-items: center;
    justify-content: start;
  }
  .seccionPrincipalEmpresa p {
    font-size: 1.5rem;
    padding: 2em;
  }
  .seccionPrincipalEmpresaTitle {
    font-size: 2rem;
    padding-top: 1em;
  }
}
.seccionPrincipalCertificaciones {
  padding-top: 2em;
  grid-area: certificacion;
  width: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.seccionPrincipalCertificacionesTitle {
  text-align: center;
  line-height: 1.5;
}
.seccionPrincipalCertificaciones img {
  width: 70%;
}
@media screen and (min-width: 400px) {
  .seccionPrincipalCertificaciones img {
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .seccionPrincipalCertificaciones .imagenes {
    flex-direction: row;
  }
}
.seccionPrincipalCalidad {
  grid-area: calidad;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  background-image: url(../../images/fondoGrisTexturado.jpg);
  padding: 10px;
  align-items: center;
  text-align: center;
}
.seccionPrincipalCalidadTitle {
  font-size: 1.5rem;
  color: rgb(194, 17, 17);
  line-height: 1.5;
}
@media screen and (min-width: 400px) {
  .seccionPrincipalCalidad span {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 400px) and (min-width: 768px) {
  .seccionPrincipalCalidad span {
    font-weight: bold;
  }
}
.seccionPrincipalContacto {
  grid-area: contacto;
  height: 250px;
  background-image: url(../../images/fondos/banner-contacto.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: end;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
}
.seccionPrincipalContactoTitle {
  font-size: 1.5rem;
}
.seccionPrincipalContactoDesc {
  font-weight: bold;
}
.seccionPrincipalContacto .btnEmpresa {
  background-color: transparent;
  border-color: rgb(194, 17, 17);
  color: black;
  font-weight: bold;
  margin-top: 20px;
  box-shadow: inset 0 0 20px rgb(0, 0, 0);
}

.seccionNosotros {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: 30px repeat(4, auto);
  grid-template-columns: 1fr;
  padding: 0;
  grid-template-areas: "titulo" "historia" "sucesos" "vision" "desposte";
}
.seccionNosotrosTitle {
  grid-area: titulo;
}
.seccionNosotrosHistoria {
  grid-area: historia;
  background-image: url(../../images/fondoGrisTexturado.jpg);
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.seccionNosotrosHistoriaTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.seccionNosotrosHistoriaDesc {
  display: block;
  text-align: justify;
  font-family: serif;
  line-height: 1.3;
}
.seccionNosotrosVision {
  grid-area: vision;
  background-image: url(../../images/fondoGrisTexturado.jpg);
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
}
.seccionNosotrosVisionTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.seccionNosotrosVision p {
  display: block;
  text-align: justify;
  font-family: serif;
  line-height: 1.3;
}
.seccionNosotrosCicloDos {
  grid-area: desposte;
  background-color: red;
  background-color: red;
  color: white;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
.seccionNosotrosCicloDosTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.seccionNosotrosCicloDos p {
  display: block;
  text-align: justify;
  font-family: serif;
  line-height: 1.3;
  font-size: 1.2rem;
}
@media screen and (min-width: 400px) {
  .seccionNosotros {
    padding-top: 25px;
  }
}
@media screen and (min-width: 768px) {
  .seccionNosotros {
    padding-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr 400px 300px;
    grid-template-areas: "titulo titulo" "historia sucesos" "vision vision" "desposte desposte";
  }
  .seccionNosotrosHistoria {
    align-self: stretch;
    justify-content: start;
    gap: 50px;
  }
  .seccionNosotrosHistoriaTitle {
    font-size: 2rem;
  }
  .seccionNosotrosHistoria p {
    font-size: 1.2rem;
  }
  .seccionNosotrosVision {
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .seccionNosotrosVision p {
    font-size: 1.3rem;
    padding: 0 3em 0 3em;
  }
  .seccionNosotrosCicloDos {
    align-self: stretch;
    gap: 30px;
  }
  .seccionNosotrosCicloDos p {
    font-size: 1.3rem;
    padding: 0 3em 0 3em;
  }
}

.seccionProducto {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0;
  grid-template-rows: 200px repeat(4, auto);
  grid-template-columns: 1fr;
  align-items: start;
  grid-template-areas: "portada" "descripcion" "productos" "calidad" "contacto";
}
.seccionProductoPortada {
  grid-area: portada;
  width: 100%;
  height: 200px;
  background-image: url(../../images/fondos/portada-productos.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.seccionProductoPortadaTitle {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.seccionProductoCatalogo {
  grid-area: productos;
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 1fr;
  padding: 10px;
}
@media screen and (min-width: 525px) {
  .seccionProductoCatalogo {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .seccionProductoCatalogo {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .seccionProductoCatalogo {
    grid-template-columns: repeat(4, 1fr);
  }
}
.seccionProductoIntro {
  grid-area: descripcion;
  background-image: url(../../images/fondoGrisTexturado.jpg);
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.seccionProductoIntroTitle {
  font-size: 1.3rem;
}
.seccionProductoIntroDesc {
  line-height: 1.5;
}

.seccionContacto {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0;
  grid-template-rows: 200px repeat(3, auto);
  grid-template-columns: 1fr;
  align-items: start;
  grid-template-areas: "portada" "formulario" "contacto" "mapa";
}
.seccionContactoPortada {
  grid-area: portada;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  background-image: url(../../images/fondos/fondo-contacto.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
  align-items: center;
  gap: 25px;
}
.seccionContactoPortadaTitle, .seccionContactoPortadaSubtitle {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.seccionNovedades {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: 30px repeat(4, auto);
  grid-template-columns: 1fr;
  padding: 0;
  grid-template-areas: "titulo" "historia" "sucesos" "vision" "desposte";
}
.seccionNovedadesTitle {
  grid-area: titulo;
}
.seccionNovedadesNoticias {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  justify-content: center;
}
@media screen and (min-width: 700px) {
  .seccionNovedadesNoticias {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .seccionNovedadesNoticias {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 400px) {
  .seccionNovedades {
    padding-top: 25px;
  }
}
@media screen and (min-width: 768px) {
  .seccionNovedades {
    padding-top: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
