* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li, ul, ol, a, p, h1, h2, h3, h4, span {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}

.btnEmpresa {
  background-color: rgb(194, 17, 17);
  text-decoration: none;
  padding: 10px;
  width: max-content;
  border: 2px solid black;
  border-radius: 10px 0 10px 10px;
  align-self: center;
  color: white;
}

.etiquetaBtn {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  gap: 5px;
  width: auto;
  justify-content: center;
  align-items: center;
}
.etiquetaBtn .btn-circle {
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid rgb(5, 74, 153);
  width: 20px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  padding: 0;
}
.etiquetaBtn .btn-circle:focus {
  outline: none;
}
.etiquetaBtn .btn-circle:active {
  box-shadow: inset 0 0 10px rgb(194, 17, 17);
}

.btnProducto {
  background-color: red;
  border: 2px solid rgb(194, 17, 17);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  transform: translateY(100%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-out;
  color: white;
}

.dropdown {
  grid-area: drop;
  justify-self: start;
}
.dropdown .btn {
  padding: 0;
  background-color: rgb(5, 74, 153);
}
.dropdown .btn img {
  width: 40px;
  height: 40px;
}
.dropdown-no-caret::after {
  display: none;
}
.dropdown-menu {
  justify-self: end;
  background-color: rgba(0, 0, 0, 0.212);
}
.dropdown-menu li a {
  color: rgb(224, 21, 21);
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .dropdown {
    visibility: hidden;
  }
}

.headerSocialMenu {
  grid-area: social;
  list-style: none;
  justify-self: end;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  justify-items: center;
  flex-direction: row;
  width: 200px;
}
.headerSocialMenuItem {
  display: inline-block;
}
.headerSocialMenuItem .socialIcon {
  background-color: white;
  width: 25px;
}
@media screen and (min-width: 400px) {
  .headerSocialMenu {
    width: 250px;
  }
  .headerSocialMenuItem .socialIcon {
    width: 35px;
  }
}

.d-flex {
  grid-area: nav;
  visibility: hidden;
}
.d-flex .form-control {
  font-size: 0.7rem;
  color: white;
  background-color: rgba(255, 255, 255, 0);
}
.d-flex .btn {
  font-size: 0.7rem;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 400px) {
  .d-flex {
    visibility: visible;
    max-width: 200px;
  }
}
@media screen and (min-width: 525px) {
  .d-flex {
    justify-self: end;
  }
}
@media screen and (min-width: 768px) {
  .d-flex {
    grid-area: search;
    max-width: 180px;
  }
}
@media screen and (min-width: 900px) {
  .d-flex {
    max-width: 300px;
  }
}

.headerMenuPrincipal {
  visibility: hidden;
  grid-area: nav;
  width: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
}
.headerMenuPrincipalList {
  list-style: none;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
}
.headerMenuPrincipalList a {
  font-size: 0.2rem;
  text-decoration: none;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .headerMenuPrincipal {
    visibility: visible;
  }
  .headerMenuPrincipalList li {
    height: 60px;
    width: 90px;
  }
  .headerMenuPrincipalList li a {
    width: 100%;
    align-self: center;
    color: white;
    font-size: 0.8rem;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 900px) {
  .headerMenuPrincipal {
    max-width: 600px;
  }
  .headerMenuPrincipalList {
    justify-content: space-between;
    max-width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .headerMenuPrincipalList {
    justify-content: space-around;
  }
  .headerMenuPrincipalList li {
    width: 100px;
  }
  .headerMenuPrincipalList li a {
    font-size: 1rem;
  }
}

main {
  margin-top: 125px;
  width: 100%;
}

.header {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: rgb(5, 74, 153);
  justify-content: center;
  justify-items: center;
  align-items: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px red;
  grid-template-columns: 90px 1fr repeat(2, 40px);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "logo social social social" "logo nav nav drop";
}
.headerLogoEmpresa {
  grid-area: logo;
  width: 90px;
  height: auto;
}
@media screen and (min-width: 400px) {
  .header {
    grid-template-columns: 80px 1fr repeat(2, 40px);
  }
  .headerLogoEmpresa {
    width: 90px;
  }
}
@media screen and (min-width: 400px) {
  .header {
    grid-template-columns: repeat(2, 1fr) repeat(2, 40px);
  }
}
@media screen and (min-width: 768px) {
  .header {
    grid-template-columns: 100px 20px 1fr 200px;
    grid-template-areas: "logo drop social social" "logo nav nav search";
  }
}
@media screen and (min-width: 900px) {
  .header {
    grid-template-columns: 100px 20px 1fr 300px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    grid-template-columns: 150px 20px 1fr 300px;
  }
  .headerLogoEmpresa {
    justify-self: end;
  }
}

.footer {
  background-color: rgb(5, 74, 153);
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  font-size: 0.7rem;
  text-align: center;
  z-index: 999;
  bottom: 0;
  margin-top: 10px;
  background-color: rgb(5, 74, 153);
  color: white;
}
.footer a {
  display: inline;
  font-style: italic;
  text-decoration: underline;
  background-color: rgb(5, 74, 153);
  color: white;
}

.seccionNosotrosLineaTiempo {
  grid-area: sucesos;
}
.seccionNosotrosLineaTiempoContainerBtns {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  padding: 20px;
}
.seccionNosotrosLineaTiempoContainerBtns span {
  font-weight: bold;
}

.containerDescription {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgb(5, 74, 153);
  gap: 0;
}
.containerDescriptionTitle, .containerDescriptionDesc {
  width: 100%;
  padding: 0.2em;
  text-align: center;
}
.containerDescriptionDesc {
  border-top: 1px solid rgb(5, 74, 153);
  padding: 20px;
  text-align: justify;
  font-family: serif;
  font-style: italic;
}

.etiquetaProducto {
  border: 1px solid red;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 148px;
  height: 148px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.etiquetaProductoImg {
  width: 100%;
  display: block;
  position: relative;
  height: 100%;
  transition: transform 0.3s ease-out;
  transition: transform 0.2seg ease-in-out;
}
.etiquetaProductoImgImg:hover {
  transform: escale(1.2);
}
.etiquetaProducto:hover .etiquetaProductoImg {
  transform: translateY(-20%);
}
.etiquetaProducto:hover .btnProducto {
  transform: translateY(1%);
  transform: escale(1.4);
}

.seccionPrincipal {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0;
  grid-template-rows: 30px repeat(5, auto);
  align-items: start;
  grid-template-areas: "titulo" "portada" "empresa" "certificacion" "calidad" "contacto";
}
.seccionPrincipalTitle {
  grid-area: titulo;
  visibility: hidden;
}
.seccionPrincipalPortada {
  color: white;
  height: 300px;
  background-image: url(../../images/larrauri/JON_7322.JPG);
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
}
.seccionPrincipalPortadaTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.seccionPrincipalPortada span {
  font-size: 0.8rem;
}
.seccionPrincipalEmpresa {
  grid-area: empresa;
  background-image: url(../../images/fondoGrisTexturado.jpg);
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
}
.seccionPrincipalEmpresa p {
  font-family: serif;
  text-align: justify;
  line-height: 1.5;
}
.seccionPrincipalCertificaciones {
  padding-top: 2em;
  grid-area: certificacion;
  width: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.seccionPrincipalCertificacionesTitle {
  text-align: center;
  line-height: 1.5;
}
.seccionPrincipalCertificaciones img {
  width: 70%;
}
.seccionPrincipalCalidad {
  grid-area: calidad;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  background-image: url(../../images/fondoGrisTexturado.jpg);
  padding: 10px;
  align-items: center;
  text-align: center;
}
.seccionPrincipalCalidadTitle {
  font-size: 1.5rem;
  color: rgb(194, 17, 17);
  line-height: 1.5;
}
.seccionPrincipalContacto {
  grid-area: contacto;
  height: 250px;
  background-image: url(../../images/fondos/banner-contacto.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: end;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
}
.seccionPrincipalContactoTitle {
  font-size: 1.5rem;
}
.seccionPrincipalContactoDesc {
  font-weight: bold;
}
.seccionPrincipalContacto .btnEmpresa {
  background-color: transparent;
  border-color: rgb(194, 17, 17);
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

.seccionNosotros {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: 30px repeat(4, auto);
  padding: 0;
  grid-template-areas: "titulo" "historia" "sucesos" "vision" "desposte";
}
.seccionNosotrosTitle {
  grid-area: titulo;
}
.seccionNosotrosHistoria {
  grid-area: historia;
  background-image: url(../../images/fondoGrisTexturado.jpg);
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.seccionNosotrosHistoriaTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.seccionNosotrosHistoriaDesc {
  display: block;
  text-align: justify;
  font-family: serif;
  line-height: 1.3;
}
.seccionNosotrosVision {
  grid-area: vision;
  background-image: url(../../images/fondoGrisTexturado.jpg);
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
}
.seccionNosotrosVisionTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.seccionNosotrosVision p {
  display: block;
  text-align: justify;
  font-family: serif;
  line-height: 1.3;
}
.seccionNosotrosCicloDos {
  background-color: red;
  background-color: red;
  color: white;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
}
.seccionNosotrosCicloDosTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.seccionNosotrosCicloDos p {
  display: block;
  text-align: justify;
  font-family: serif;
  line-height: 1.3;
  font-size: 1.2rem;
}

/*# sourceMappingURL=styles.css.map */
