* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li, ul, a {
  padding: 0;
  margin: 0;
}

.dropdown {
  grid-area: drop;
  justify-self: start;
}
.dropdown .btn {
  padding: 0;
  background-color: rgb(5, 74, 153);
}
.dropdown .btn img {
  width: 40px;
  height: 40px;
}
.dropdown-no-caret::after {
  display: none;
}
.dropdown-menu {
  justify-self: end;
  background-color: rgba(0, 0, 0, 0.212);
}
.dropdown-menu li a {
  color: rgb(224, 21, 21);
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .dropdown {
    visibility: hidden;
  }
}

.headerSocialMenu {
  grid-area: social;
  list-style: none;
  justify-self: end;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  justify-items: center;
  flex-direction: row;
  width: 200px;
}
.headerSocialMenuItem {
  display: inline-block;
}
.headerSocialMenuItem .socialIcon {
  background-color: white;
  width: 25px;
}
@media screen and (min-width: 400px) {
  .headerSocialMenu {
    width: 300px;
  }
  .headerSocialMenuItem .socialIcon {
    width: 35px;
  }
}

.d-flex {
  grid-area: nav;
  visibility: hidden;
}
.d-flex .form-control {
  font-size: 0.7rem;
  color: white;
  background-color: rgba(255, 255, 255, 0);
}
.d-flex .btn {
  font-size: 0.7rem;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 400px) {
  .d-flex {
    visibility: visible;
    max-width: 350px;
  }
}
@media screen and (min-width: 525px) {
  .d-flex {
    justify-self: end;
  }
}
@media screen and (min-width: 768px) {
  .d-flex {
    grid-area: search;
    max-width: 200px;
  }
}
@media screen and (min-width: 900px) {
  .d-flex {
    max-width: 300px;
  }
}

.headerMenuPrincipal {
  visibility: hidden;
  grid-area: nav;
  width: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
}
.headerMenuPrincipalList {
  list-style: none;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
}
.headerMenuPrincipalList a {
  font-size: 0.2rem;
  text-decoration: none;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .headerMenuPrincipal {
    visibility: visible;
  }
  .headerMenuPrincipalList li {
    height: 60px;
    width: 75px;
  }
  .headerMenuPrincipalList li a {
    width: 100%;
    align-self: center;
    color: white;
    font-size: 0.8rem;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 900px) {
  .headerMenuPrincipal {
    max-width: 600px;
  }
  .headerMenuPrincipalList {
    justify-content: space-between;
    max-width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .headerMenuPrincipalList {
    justify-content: space-around;
  }
  .headerMenuPrincipalList li {
    width: 100px;
  }
  .headerMenuPrincipalList li a {
    font-size: 1rem;
  }
}

.header {
  width: 100%;
  padding: 1em;
  gap: 10px;
  display: grid;
  background-color: rgb(5, 74, 153);
  justify-content: center;
  justify-items: center;
  align-items: center;
  box-shadow: 0 5px 10px red;
  grid-template-columns: 90px 1fr repeat(2, 40px);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "logo social social social" "logo nav nav drop";
}
.headerLogoEmpresa {
  grid-area: logo;
  width: 90px;
  height: auto;
}
@media screen and (min-width: 400px) {
  .header {
    grid-template-columns: 80px 1fr repeat(2, 40px);
  }
  .headerLogoEmpresa {
    width: 90px;
  }
}
@media screen and (min-width: 400px) {
  .header {
    grid-template-columns: repeat(2, 1fr) repeat(2, 40px);
  }
}
@media screen and (min-width: 768px) {
  .header {
    grid-template-columns: 100px 20px 1fr 200px;
    grid-template-areas: "logo drop social  social" "logo nav nav  search";
  }
}
@media screen and (min-width: 900px) {
  .header {
    grid-template-columns: 100px 20px 1fr 300px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    grid-template-columns: 150px 20px 1fr 300px;
  }
  .headerLogoEmpresa {
    justify-self: end;
  }
}

/*# sourceMappingURL=styles.css.map */
