.seccionContactoVentas {
    background-image: url(../../images/fondos/fondo-parrafo.jpg);
    background-position: center;
    background-size: cover;
    @include contenedorFlex();
    align-items: center;
    @include contraste(black);
    padding: 20px;
    gap: 10px;

    h3 {
        font-size: 2rem;
        text-shadow: 0 0 5px black;
    }

    &Llamada {
        color: red;
        font-weight: bold;
        font-size: 1.5rem;
        text-shadow: 0 0 5px black;

    }
}