.btnEmpresa{
    background-color: $secondaryColor;
    text-decoration: none;
    padding: 10px;
    width: max-content;
    border: 2px solid black;
    border-radius: 10px;
    align-self: center;
    color: white;
    transition: transform 0.3seg ease-in-out;

    &:hover{
      transform: scale(1.2);
      background-color: $primaryColor;
    }
}
.etiquetaBtn{
    @include contenedorFlex();
    gap: 5px;
    width: auto;
    justify-content: center;
    align-items: center;


    .btn-circle {
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid $primaryColor;
        width: 20px;
        height: 20px;
        font-size: 0;
        line-height: 0;
        padding: 0;
      }      
      .btn-circle:focus {
        outline: none;
      }
      .btn-circle:active {
        box-shadow: inset 0 0 10px $secondaryColor;
      }
}
.btnProducto{
  background-color: red;
  border: 2px solid $secondaryColor;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: white;

  &{
    @include deskResolution(){
      transform: translateY(100%);		
      transition: transform 0.3s ease-out;

    }
  }
}
