.btnEmpresa{
    background-color: $secondaryColor;
    text-decoration: none;
    padding: 10px;
    width: max-content;
    border: 2px solid black;
    border-radius: 10px 0 10px 10px;
    align-self: center;
    color: white;
}