.dropdown {
    grid-area: drop;
    justify-self: start;

    .btn {
        padding: 0;
        background-color: $primaryColor;


        img {
            width: 40px;
            height: 40px;     
        }
    }

    &-no-caret::after {
        display: none; //Utilizo esta propiedad debido a que no necesito mostrar en ningun momento la imagen del triangulo y tampoco necesito que ocupe lugar
    }

    &-menu {
        justify-self: end;
        background-color: rgba(0, 0, 0, 0.4);

        li a {
            color: white;
            font-size: 0.8rem;
            font-weight: bold;
            line-height: 2;
        }
    }
    @include desk-resolution(){
     visibility: hidden;   
    }
}