.etiquetaNoticias{
    @include contenedorGrid();
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,auto);
    align-self: center;
    align-items: center;
    height: 800px;
    &Fig{
       

        Img{
            width: 100%;
        }
    }
    &Desc{
        @include contenedorGrid();
        padding: 10px;
        h2{
            color: $secondaryColor;
        }
        p{
            text-align: justify;
            line-height: 1.2;
        }
    }
    .btnEmpresa{
        border: none;
    }

    @include tabletResolution{
        max-width: 360px;
    }
}