.etiquetaProducto{
    border: 1px solid red;
    @include contenedorFlex();
    width: 250px;
    height: 250px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    

    &Img{
        width: 100%;
        display: block;
        position: relative;
        transform: translateY(-15%);
        height: 100%;
        transition: transform 0.3s ease-out;

        
    }
    &:hover &Img{
        transform: translateY(-20%);            
        
    }

    &:hover .btnProducto{
        transform: translateY(1%);
                
    }

}