.footer{
    background-color: $primaryColor;
    @include contenedorFlex ($content:center);
    padding: 10px;
    gap: 15px;
    font-size: .7rem;
    text-align: center;
    z-index: 999;
    bottom: 0;
    margin-top: 10px;
    @include contraste($primaryColor);
    height: 100px;


    a{display: inline;
        font-style: italic;
        text-decoration: underline;
        @include contraste($primaryColor);

    }
    @include deskResolution{
        @include contenedorGrid();
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "derechos . reclamos"        
        "derechos . reclamos"
        "dev dev dev";

        &Derecho{
            grid-area: derechos;
        }

        &Defensa{
            grid-area: reclamos;
        }
        &Desarrollo{
            grid-area: dev;
        }

        
    }
}