.header{
    @include contenedorGrid($background:$primaryColor);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px red;
    grid-template-columns: 90px 1fr repeat(2,40px);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    "logo social social social"
    "logo nav nav drop";


    &LogoEmpresa{
        grid-area: logo;
        width: 90px;
        height: auto;
    }
    @include tabletResolution(){
        grid-template-columns: 80px 1fr repeat(2,40px);
        &LogoEmpresa{
            width: 90px;
        }

    }
    @include tabletResolution(){
        grid-template-columns: repeat(2,1fr) repeat(2,40px);
 
    }
    @include deskResolution(){
        grid-template-columns: 100px 20px 1fr 200px;
        grid-template-areas: 
        "logo drop social social"
        "logo nav nav search";
    }
    @include deskResolutionIntermedio{
        grid-template-columns: 100px 20px 1fr 300px;

    }
    @include deskResolutionMax {
        grid-template-columns: 150px 20px 1fr 300px;
        &LogoEmpresa{
           justify-self: end;
        }

    }
    
}