.seccionNosotrosLineaTiempo{
    grid-area: sucesos;

    
    &ContainerBtns{
        @include contenedorFlex ($direction:row);
        padding: 20px;
        span{
            font-weight: bold;
        }
    }
          
}
.containerDescription{
    @include contenedorFlex();
    align-items: center;
    border-radius: 0 0 10px 10px;
    border: 1px solid $primaryColor;
    gap: 0;

    &Title{
        width: 100%;
        padding: .2em;
        text-align: center;
    }
    &Desc{
        @extend .containerDescriptionTitle;
        border-top: 1px solid $primaryColor;
        padding: 20px;
        text-align: justify;
        font-family: serif;
        font-style: italic;
    }
}