.headerMenuPrincipal{
    visibility: hidden;
    grid-area: nav;
    
    &List{      
       
        list-style: none;
        @include contenedorFlex($content:center,$direction:row);   
        
        a{
           font-size: .5rem;
        }
        
    }
}
