.headerMenuPrincipal{
    visibility: hidden;
    grid-area: nav;
    width: 100%;
    @include contenedorFlex($content:center,$direction:row);
    &List{      
        list-style: none;
        @include contenedorFlex($content:center,$direction:row);   
        
        a{
           font-size: .2rem;
           text-decoration: none;
           font-weight: bold;
        }
        
    }
    @include desk-resolution(){
        visibility: visible;        
        &List{

            li{ 
                height: 60px;
                width: 75px;
                  
                a{  
                    width: 100%;
                    align-self: center;
                    color: white;
                    font-size: .8rem;
                    display: inline-block;
                    height: 60px; // ajustar la altura deseada 
                    line-height: 60px; // establecer la misma altura que la etiqueta 
                    text-align: center; // opcional para alinear horizontalmente 
                }
            }
        }   
    }
    @include desk-resolution-intermedio(){
        max-width: 600px;

       &List{
            justify-content: space-between;
            max-width: 600px;
       }
    }
    @include desk-resolution-max{
        &List{
            justify-content: space-around;
            li{
                width: 100px;
                a{
                    font-size: 1rem;
                }
            }
        }
    }
}
