.headerSocialMenu{    
    grid-area: social;    
    list-style: none;
    justify-self: end;
    @include contenedorFlex($content:space-between,$direction:row);
    width: max(200px);
    &Item{
        transition: transform 0.2seg ease-in-out;
        display: inline-block;         
        .socialIcon{
            width: 25px;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
@include tablet-resolution{
    width: max(250px);

    &Item{
        .socialIcon{
        width: 35px;
        }
    }
}

}