.headerSocialMenu{    
    grid-area: social;    
    list-style: none;
    justify-self: end;
    @include contenedorFlex($content:space-between,$direction:row);
    width: max(200px);
    &Item{
        display: inline-block;         
        .socialIcon{
            background-color: white;
            width: 25px;
        }
    }
@include tablet-resolution{
    width: max(250px);

    &Item{
        .socialIcon{
        width: 35px;
        }
    }
}

}