.headerSocialMenu{    
    grid-area: social;    
    list-style: none;
    justify-self: end;
    @include contenedorFlex($content:space-between,$direction:row);
    width: max(200px);
    &Item{         
        .socialIcon{
            background-color: white;
            width: 25px;
        }
    }

}