.headerSocialMenu{    
    grid-area: social;    
    list-style: none;
    justify-self: end;
    @include contenedorFlex($content:space-between,$direction:row);
    width: max(180px);
    &Item{         
        .socialIcon{
            background-color: white;
            width: 30px;
        }
    }

}