.seccionPrincipal{
    @include contenedorGrid();
    padding: 0;
    grid-template-rows:  30px repeat(5,auto);
    align-items: start;
    grid-template-areas:
    "titulo"
    "portada"
    "empresa"
    "certificacion"
    "calidad"
    "contacto" ;

    &Title{
        grid-area: titulo;
        visibility: hidden;
    }
    
    &Portada{
        color: white;
        height: 300px;
        background-image: url(../../../images/larrauri/JON_7322.JPG);
        background-position: center;
        background-size: cover;   
        @include contenedorFlex ($content:center);
        padding: 10px;

        &Title{
            font-size: 1.5rem;
            font-weight: bold;
        }
        span{
            font-size: .8rem;
        }

    }
    &Empresa{
        grid-area: empresa;
        background-image: url(../../../images/fondoGrisTexturado.jpg);
        @include contenedorFlex ($content:center);
        padding: 10px;

        p{  
            font-family: serif;
            text-align: justify;
            line-height: 1.5;
        }
    }
    &Certificaciones{
        padding-top: 2em;
        grid-area: certificacion;
        width: 100%;
        @include contenedorFlex ($content:center);
        align-items: center;
        &Title{
            text-align: center;
            line-height: 1.5;
        }
        img{
            width: 80%;
        }
    }
    &Calidad{
        grid-area: calidad;
        @include contenedorFlex ($content:center);
        background-image: url(../../../images/fondoGrisTexturado.jpg);
        padding: 10px;
        align-items: center;
        text-align: center;
        
        &Title{
            font-size: 1.5rem;
            color: $secondaryColor;
            line-height: 1.5;
        }

    }
    &Contacto{
        grid-area: contacto;
        height: 250px;
        background-image: url(../../../images/fondos/banner-contacto.png);
        background-size: cover;
        background-position: center;
        @include contenedorFlex($content:end);
        padding: 10px;
        color: white;
        margin-bottom: 20px;

        &Title{
            font-size:1.5rem;
        }
        &Desc{
            font-weight: bold;
        }
        .btnEmpresa{
            background-color: transparent;
            border-color: $secondaryColor;
            color: black;
            font-weight: bold;
            margin-top: 20px;
        }
    }

}