.seccionProducto {
    @include contenedorGrid();
    padding: 0;
    grid-template-rows: 200px repeat(4, auto);
    grid-template-columns: 1fr;
    align-items: start;
    grid-template-areas:
        "portada"
        "descripcion"
        "productos"
        "calidad"
        "contacto";

    &Portada {
        grid-area: portada;
        width: 100%;
        height: 200px;
        background-image: url(../../../images/fondos/portada-productos.png);
        background-size: cover;
        background-position: center;
        @include contenedorFlex();
        align-items: center;

        &Title {
            color: white;
            font-weight: bold;
            font-size: 2rem;
        }
    }

    &Catalogo {
        grid-area: productos;
        @include contenedorGrid();
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 1fr;
        padding: 10px;

        @include tablet-resolution-intermedio {
            grid-template-columns: repeat(2, 1fr);
        }

        @include desk-resolution {
            grid-template-columns: repeat(3, 1fr);
        }

        @include desk-resolution-intermedio {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &Intro {
        grid-area: descripcion;
        background-image: url(../../../images/fondoGrisTexturado.jpg);
        @include contenedorFlex();
        text-align: center;
        padding: 10px;

        &Title {
            font-size: 1.3rem;
        }

        &Desc {
            line-height: 1.5;
        }
    }

}