.seccionNosotros{
    @include contenedorGrid();
    grid-template-rows: 30px repeat(4,auto);
    padding: 0;
    grid-template-areas: 
    "titulo"
    "historia"
    "sucesos"
    "vision"
    "desposte";
    &Title{
        grid-area: titulo;
    }
    &Historia{
        grid-area: historia;
        background-image: url(../../../images/fondoGrisTexturado.jpg);
        @include contenedorFlex($content:center);
        padding: 10px;
        align-items: center;
        
        &Desc{
            display: block;
            text-align: center;
            font-family: serif;
        }
    }
    
}