.seccionNosotros{
    @include contenedorGrid();
    grid-template-rows: 30px repeat(4,auto);
    grid-template-columns: 1fr;
    padding: 0;
    grid-template-areas: 
    "titulo"
    "historia"
    "sucesos"
    "vision"
    "desposte";
    &Title{
        grid-area: titulo;
    }
    &Historia{
        grid-area: historia;
        background-image: url(../../images/fondoGrisTexturado.jpg);
        @include contenedorFlex($content:center);
        padding: 10px;
        align-items: center;

        &Title{            
            font-size: 1.5rem;
            font-weight: bold;
        }
        
        &Desc{
            @include parrafo();
        }
    }

    &Vision{
        grid-area: vision;
        background-image: url(../../images/fondoGrisTexturado.jpg);
        @include contenedorFlex ();
        padding: 10px;

            &Title{
                font-size: 1.5rem;
                font-weight: bold;
            }
            p{
                @include parrafo();
            }
        }  
    &CicloDos{
        grid-area: desposte;
        background-color: red;        
        @include contraste(red);
        @include contenedorFlex ();
        padding: 10px;
        width: 100%;
        &Title{
            text-align: center;
            font-weight: bold;    
            font-size: 1.5rem;
            
        }
        p{ 
         @include parrafo();
         font-size: 1.2rem;
        }
        
    }
    @include tablet-resolution{
       padding-top: 25px;      

    }
    @include desk-resolution{
        padding-top: 30px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 30px 1fr 400px 300px;
        grid-template-areas: 
        "titulo titulo"
        "historia sucesos"
        "vision vision"
        "desposte desposte";    
        
       &Historia{
        align-self: stretch;
        justify-content: start;
        gap: 50px;
        &Title{
            font-size: 2rem;
            
        }
        p{
            font-size: 1.2rem;
        }
       }
       &Vision{
        align-self: stretch;
        align-items: start;
        justify-content: start;

        p{
            font-size: 1.3rem;
        }
       }
       &CicloDos{
        align-self: stretch;
        gap: 30px;
       }
    }

}