.seccionNosotros{
    @include contenedorGrid();
    grid-template-rows: 30px repeat(4,auto);
    padding: 0;
    grid-template-areas: 
    "titulo"
    "historia"
    "sucesos"
    "vision"
    "desposte";
    &Title{
        grid-area: titulo;
    }
    &Historia{
        grid-area: historia;
        background-image: url(../../images/fondoGrisTexturado.jpg);
        @include contenedorFlex($content:center);
        padding: 10px;
        align-items: center;

        &Title{            
            font-size: 1.5rem;
            font-weight: bold;
        }
        
        &Desc{
            @include parrafo();
        }
    }

    &Vision{
        grid-area: vision;
        background-image: url(../../images/fondoGrisTexturado.jpg);
        @include contenedorFlex ();
        padding: 10px;

            &Title{
                font-size: 1.5rem;
                font-weight: bold;
            }
            p{
                @include parrafo();
            }
        }  
    &CicloDos{
        background-color: red;        
        @include contraste(red);
        @include contenedorFlex ();
        padding: 10px;

        &Title{
            text-align: center;
            font-weight: bold;    
            font-size: 1.5rem;
            
        }
        p{ 
         @include parrafo();
         font-size: 1.2rem;
        }
        
    }

}