//Reseteo de atributos
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li,ul,a{
    padding: 0;
    margin: 0;
}
//Declaracion de variables
$primaryColor: rgb(5, 74, 153);
//Declaracion de mixins
@mixin contenedorGrid ($width:100%,$background:none){
    width: 100%;
    padding: 1em;
    gap: 10px;
    display: grid;
    background-color:$background;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
@mixin contenedorFlex ($content:center,$items:center,$direction:column){
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: $content;
    justify-items: $items;
    flex-direction: $direction;
}
@mixin tablet-resolution {
    @media screen and (min-width: 575px){
        @content;
    }
}