//Reseteo de atributos
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li,ul,ol,a,p,h1,h2,h3,h4,span{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}


//Declaracion de variables
$primaryColor: rgb(5, 74, 153);
$secondaryColor: rgb(194, 17, 17);
//Declaracion de mixins
@mixin contraste($background){
    background-color: $background;
    @if lightness($background)>50{
        color: black;
    } @else {color: white;}
}
@mixin parrafo(){
    display: block;
    text-align: justify;
    font-family: serif;
    line-height: 1.3;
}
@mixin contenedorGrid ($width:100%,$background:none){
    width: $width;
    padding: 1em;
    gap: 10px;
    display: grid;
    background-color:$background;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
@mixin contenedorFlex ($content:center,$items:center,$direction:column){
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: $content;
    justify-items: $items;
    flex-direction: $direction;
}
@mixin desk-resolution {
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin tablet-resolution{
    @media screen and (min-width: 400px){
        @content;
    }
}
@mixin tablet-resolution-intermedio{
    @media screen and (min-width: 525px){
        @content;
    }

}
@mixin desk-resolution-intermedio{
    @media screen and (min-width: 900px){
        @content;
    }
}
@mixin desk-resolution-max{
    @media screen and (min-width: 1024px){
        @content;
    }
}