@import "./base";
@import "./components/buttons";
@import "./components/dropdown";
@import "./components/social-menu";
@import "./components/search";
@import "./components/menu-principal";
@import "./components/main";
@import "./components/header";
@import "./components/footer";
@import "./components/linea-tiempo";
@import "./components/etiqueta-producto";


@import "./pages/index";
@import "./pages/sobre-nosotros";
@import "./pages/productos";